.nav-img {
    margin-right: 20px;
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.card {
    width: 100%;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.modelImage {
    width: 50%;
}

.navHover:hover {
    background-color: rgb(117, 117, 208);

}

/* search button */
.data-search {
    margin-bottom: 25px;
}

.searchbtn {
    margin-top: 22px;
}