/* Package for Euphoria */
.euphoria-script-regular {
    font-family: "Euphoria Script", cursive;
    font-weight: 400;
    font-style: normal;
}

/* nav-bar style code */
.nav-bar {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.nav-img {
    margin-right: 20px;
}

/* carousel style code */

.carousel-item img {
    height: auto;
    object-fit: cover;
}

.carouselText {
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-20%, -10%);
    text-align: left;
}




/*  Css for 4 product show  */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform .8s;
}

.card-img-top:hover {
    transform: scale(0.9);
}

.scale {
    object-fit: scale-down;
}

.removeul {
    text-decoration: none;
}

.setArrow {
    height: 15px;

}

.card-text {
    display: flex;
    justify-content: center;
    color: rgb(6, 58, 126);
    font-weight: bold;

}


/* heading after vertical Line */
.headingVL {
    margin-left: 10px;
    font-size: 35px;
    font-weight: lighter;

}

/* vertical line code */
.verticalLine {
    border-left: 5px solid rgba(138, 51, 253, 1);
    /* height: 40px; */
    border-radius: 10px;
}

/* Big saving Zone */
.custom-spacing {
    margin-bottom: 20px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.big__saving {
    font-weight: lighter;
    font-size: 30px;
}

/* Add styles for bigsaving zones */
.bigsavingzone,
.bigsavingzoneone,
.bigsavingzonetwo,
.bigsavingzonethree,
.bigsavingzonefour {
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.bigsavingzone {
    transform: translate(10%, -125%);
}

.bigsavingzoneone {
    transform: translate(100%, -130%);
}

.bigsavingzonetwo {
    transform: translate(90%, -130%);
    color: black;

}

.bigsavingzonethree {
    transform: translate(220%, -125%);
    color: black;
}

.bigsavingzonefour {
    transform: translate(130%, -125%);
    color: black;
}

.btn__bigsave {
    margin-top: 25px;
}

.btn__bigsave p {
    font-weight: bold;
}

/* Static banner css code  */
.banner-card {
    position: relative;
    margin-bottom: 20px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}



.topBrands {
    background-color: rgba(60, 66, 66, 1);
    padding-bottom: 50px;
    border-radius: 10px;

}

.topBrands h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: lighter;
    margin-top: 40px;


}

.imgCenter {
    display: flex;
    justify-content: center;
}

.topBrands img {
    width: 15%;
    object-fit: scale-down;
    margin-top: 35px;

}

.topBrands p {
    margin-top: 10px;
    font-size: 25px;
}

.card {
    border-radius: .7rem;
}

/* footer */
.footerUL {
    list-style-type: none;
}

.footerColor {
    background-color: rgba(60, 66, 66, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerUL img {
    height: 20px;
    width: 20px;
}

.carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-item .feedback-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    /* Adjust as needed */
}