.euphoria-script-regular {
    font-family: "Euphoria Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-bar {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.nav-img {
    margin-right: 20px;
}


.carousel-item img {
    height: auto;
    object-fit: cover;
}

.carouselText {
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.carouselImg {
    position: relative;
}





/*  Css for 4 product show  */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.scale {
    object-fit: scale-down;
}

.removeul {
    text-decoration: none;
}

.setArrow {
    height: 15px;

}

/* heading after vertical Line */
.headingVL {
    margin-left: 10px;
    font-size: 35px;
    font-weight: lighter;

}

/* vertical line code */
.verticalLine {
    border-left: 5px solid rgba(138, 51, 253, 1);
    height: 40px;
    border-radius: 10px;
}

/* Big saving Zone */
.bigsavingzone {
    position: absolute;
    transform: translate(30%, -180%);
    color: white;
}

.bigsavingzoneone {
    position: absolute;
    transform: translate(130%, -180%);
    color: white;

}

.bigsavingzonetwo {
    position: absolute;
    transform: translate(130%, -180%);
    color: black;

}

/* Static banner css code  */
.banner-card {
    position: relative;
    margin-bottom: 20px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}



.topBrands {
    background-color: rgba(60, 66, 66, 1);
    padding-bottom: 50px;
    border-radius: 10px;

}

.topBrands h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: lighter;
    margin-top: 40px;


}

.imgCenter {
    display: flex;
    justify-content: center;
}

.topBrands img {
    width: 15%;
    object-fit: scale-down;
    margin-top: 35px;

}

.topBrands p {
    margin-top: 10px;
    font-size: 25px;
}

.card {
    border-radius: .7rem;
}

/* footerr */
.footerUL {
    list-style-type: none;
}

.footerColor {
    background-color: rgba(60, 66, 66, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerUL img {
    height: 20px;
    width: 20px;
}

.navHover:hover {
    background-color: rgb(117, 117, 208);

}